*{
    border: 1px solid grey;
}

body{
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-kerning: auto;
    text-align: center;
    background-color: beige;
}

.link{
    font-size: 1.5vw;
}

.link :hover{
    color:blueviolet;
}

#profilePic{
    border-radius: 50%;
    border: inset rebeccapurple;

}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}

h2{
    margin: 0px;
}

ol {
    color: brown;
    margin: 10px;
    padding: 10px;
    border: 10px;
}

ul {
    color: brown;
    margin: 10px;
    padding: 10px;
    border: 10px;
}

li{
    color: brown;
}


.grid-container{
    display: grid;
    gap: 2px 2px;    
    border: 2px solid black;
}

.grid-heading{
    grid-area: 1 / 1 / span 1 / span 3;
    margin-top: 0px;
}

#gridParagraph1{
    grid-area: 2 / 1 / span 1 / span 1;
    margin: 0px;
}

#gridParagraph2{
    grid-area: 2 / 3 / span 1 / span 1;
    margin: 0px;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}